/* shared style  */
*{
    font-family: 'Dancing Script', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    background: #FF900E;
    padding: 20px 25px;
    cursor: pointer;
}
.section-description{
    color:  #727272;
}
.section-title{
    color: #131313;
font-size: 2.8rem;
font-weight: 700;
}
/* Header section Style  */
header{
    background-color: rgba(255, 144,14, 0.10) ;
    padding: 50px 200px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}
nav li a{
    text-decoration: none;
    color:#424242;
}
/* baner style */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}
.banner-title{
    color:  #131313;
text-align: center;
font-size: 4rem;
font-weight: 700;
}
.banner img{
    width: 100%;
    margin-top: 20px;
}
/* main styles  */
main{
    max-width: 1140px;
    margin: 70px auto;
}

/* teams styles */
.teams-container{
    display: flex;
    align-items: center;
    gap: 1rem
}
.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}
.teams-img-container img{
    width: 100%;
}
.teams-content{
    padding: 0 4.5rem;
}
.teams-content-title{
    font-size: 2.8rem;
}
.teams-content-title .quick-list{
    color: #727272;
    font-weight: 500;
}
.teams-content-title .of-our{
    color: #131313;
    font-weight: 700;
}
.teams-content-title .text-features{
    color: #FF900E;
    font-weight: 700;
}
/* features section styles */
.features{
    margin-top: 130px;
    display: flex;
    gap: 100px;
}
.features .section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}
.features-content .card{
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    background: black;
    box-shadow: 0px 4px 30px 0px rgba(240, 99, 118, 0.212);
}
.ten-years-badge{
    border-radius: 8px;
background: #FF900E;
color: #FFF;
width: 342px;
padding: 40px;
}
.ten-years-badge h2{
    font-size: 4rem;
}
/* facts section style */
.facts-card-container{
    display: flex;
    justify-content: space-around;
}
.facts-card-container .card{
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 30px;
}
.facts-card-container .card-stats{
    font-size: 2.8rem;
    color: #424242;
    margin-top: 10px 0;
}
.facts-card-container .card-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 5px; 
}
/* sponspors style  */
.sponspors{
    text-align: center;
}
.sponspors-img-container{
    display: flex;
    justify-content: space-evenly;
    
    margin-top: 50px;align-items: center;
}
.sponspors-img-container img{
    width: 165px;
}

/* responsive media queries */
/* Mobile devices */
@media screen and (max-width:576px) {
    header{
        background-color: rgba(28, 97, 153, 0.1) ;
        padding: 20px;
    }
    nav, .facts-card-container, .sponspors-img-container{
        flex-direction: column;
    }
    /* teams section  */
    .teams-container{
        flex-direction: column-reverse;
    }
    .teams-img-container{
        grid-template-columns: repeat(1,1fr);
    }
.teams-content, .facts{
    padding: 0 1.5rem;
}
.facts-card-container, .sponspors-img-container{
gap: 30px;
}
    
}
/* tablet or medium devices */

@media screen and (min-width:576px) and (max-width:962px) {
    header{
        background-color: rgba(23, 216, 97, 0.082) ;
        padding: 50px;
    }
    nav, .sponspors-img-container{
        flex-direction: column;
    }
    .teams-container{
        flex-direction: column-reverse;
    }
    .facts{
        padding: 1rem;
    }
    .facts-card-container{
        gap: 5px;
    }
    .sponspors-img-container{
        gap: 40px;
    }
}


